<%- include('./partials/header.ejs')  %>
<%- include('./partials/navbar.ejs')  %>

<style>
@media (min-width : 992px) {
    .navbar {
        padding-right: 15px;
}
}

.footer {
    display: none;
}
</style>

<div class="container admin-section">
    <div class="row">

        <div class="col-12 col-lg-4 p-2 py-1 px-xxl-3">
            <div class="rounded-3 p-3" style="height: 100%; background-color: #d0ecff;">
                <div class="d-flex flex-column align-items-center mb-2 mb-lg-3 mt-3 mt-lg-4">
                    <div class="rounded-circle overflow-hidden bg-dark mb-3" style="width: calc(3.8rem + 5vw); height: calc(3.8rem + 5vw);">
                        <% if (user.userPicture) { %>
                          <img class="w-100 h-100 object-fit-cover" src="/images/uploads/<%= user.userPicture %>" alt="User Picture">
                        <% } else { %>
                          <img class="w-100 h-100 object-fit-cover" src="/images/uploads/default.jpg" alt="Default Picture">
                        <% } %>
                    </div>                      
                    <p class="mb-1 fw-medium" style="font-size: calc(1rem + 0.2vw);"><%= user.username %></p>
                    <div class="text-center w-100">
                        <p class="mb-0 text-body-secondary text-break" style="font-size: calc(0.9rem + 0.2vw); word-wrap: break-word; overflow-wrap: break-word;">
                            <%= user.email %>
                        </p>
                    </div>
                    
                </div>

                <ul class="nav nav-pills flex-lg-column mb-4" id="pills-tab" role="tablist">
                    <li class="nav-item me-1" role="presentation">
                      <button class="nav-link ps-0 ps-xxl-2 active" id="pills-account-setting" data-bs-toggle="pill" data-bs-target="#pills-setting" type="button" role="tab" aria-controls="pills-setting" aria-selected="true">
                        <i class="bi bi-person-gear fs-5 me-3"></i>Account Setting</button>
                    </li>
                    <li class="nav-item me-1" role="presentation">
                      <button class="nav-link ps-0 ps-xxl-2" id="pills-public-profile" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
                        <i class="bi bi-blockquote-right fs-5 me-3"></i>Public Profile</button>
                      </button>
                    </li>
                    <li class="nav-item me-1" role="presentation">
                        <button class="nav-link ps-0 ps-xxl-2" id="pills-my-skill" data-bs-toggle="pill" data-bs-target="#pills-skill" type="button" role="tab" aria-controls="pills-skill" aria-selected="false">
                          <i class="bi bi-ui-radios fs-5 me-3"></i>My Skills</button>
                        </button>
                    </li>
                    <li class="nav-item me-1" role="presentation">
                        <button class="nav-link ps-0 ps-xxl-2" id="pills-my-course" data-bs-toggle="pill" data-bs-target="#pills-course" type="button" role="tab" aria-controls="pills-course" aria-selected="false">
                          <i class="bi bi-mortarboard fs-5 me-3"></i>My Course</button>
                        </button>
                    </li>
                    <li class="nav-item me-1" role="presentation">
                        <button class="nav-link ps-0 ps-xxl-2" id="pills-notification-tab" data-bs-toggle="pill" data-bs-target="#pills-notification" type="button" role="tab" aria-controls="pills-notification" aria-selected="false">
                          <i class="bi bi-bell fs-5 me-3"></i>Notification</button>
                        </button>
                    </li>
                    <li class="nav-item me-1 mb-lg-3" role="presentation">
                        <button class="nav-link ps-0 ps-xxl-2" id="pills-close-account" data-bs-toggle="pill" data-bs-target="#pills-close" type="button" role="tab" aria-controls="#pills-close" aria-selected="false">
                          <i class="bi bi-trash3 fs-5 me-3"></i>Close Account</button>
                        </button>
                    </li>
                </ul>

            </div>
        </div>

        <div class="col-12 col-lg-8 p-2 py-1 ps-lg-0">
            <div class="col-12 rounded-3 bg-body-secondary p-3 p-xxl-4" style="height: 100%">

                <div class="tab-content" id="pills-tabContent">
                    
                    <div class="tab-pane fade show active" id="pills-setting" role="tabpanel" aria-labelledby="pills-account-setting" tabindex="0">
                        <h1 class="mb-3 text-dark" style="font-size: calc(1.2rem + 0.3vw);">Account Setting</h1>

                        <div class="rounded-circle overflow-hidden bg-dark mb-3" style="width: calc(3rem + 3vw);height: calc(3rem + 3vw);">
                            <% if (user.userPicture) { %>
                                <img class="w-100 h-100 object-fit-cover" src="/images/uploads/<%= user.userPicture %>" alt="User Picture">
                              <% } else { %>
                                <img class="w-100 h-100 object-fit-cover" src="/images/uploads/default.jpg" alt="Default Picture">
                            <% } %>
                        </div>

                        <form action="/owner/admin/<%= user._id %>" method="post">
                        <div class="row g-2">
                            <div class="col-12 col-lg-4 mb-2">
                                <label for="username" class="form-label text-dark-emphasis">Your Name</label>
                                <input type="text" id="username" class="form-control py-3" placeholder="Enter your name" name="username" value="<%= user.username  %>" readonly>
                            </div>
                            <div class="col-12 col-lg-8 mb-2">
                                <label for="email" class="form-label text-dark-emphasis">Email Address</label>
                                <input type="text" id="email" class="form-control py-3" placeholder="Enter your email address" name="email" value="<%= user.email  %>" readonly>
                            </div>
                            <div class="col-12 col-lg-3 mb-2">
                                <label for="country" class="form-label text-dark-emphasis">Country</label>
                                <input type="text" id="country" class="form-control py-3" value="Pakistan" readonly>
                            </div>
                            <div class="col-12 col-lg-4 mb-2">
                                <label for="phoneNumber" class="form-label text-dark-emphasis">Phone Number</label>
                                <input type="text" id="phoneNumber" class="form-control py-3" placeholder="Enter Number" name="phoneNumber" value="<%= user.phoneNumber  %>">
                            </div>
                            <div class="col-12 col-lg-5 mb-2">
                                <label for="socialMediaLink" class="form-label text-dark-emphasis">Social Media</label>
                                <input type="text" id="socialMediaLink" class="form-control py-3" placeholder="Enter Link" name="socialMediaLink" value="<%= user.socialMediaLink  %>">
                            </div>
                            <div class="col-12 mb-2">
                                <label for="location" class="form-label text-dark-emphasis">Enter location</label>
                                <textarea id="location" class="form-control py-2" placeholder="Enter your location" style="height: 80px;" name="location"><%= user.location  %></textarea>
                            </div>

                            <div class="col-12">
                                <button type="submit" class="btn btn-primary" style="padding-block: 10px;">Save Changes</button>
                            </div>
                        </div>
                        </form>

                    </div>

                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-public-profile" tabindex="0">
                        <h1 class="mb-3 text-dark" style="font-size: calc(1.2rem + 0.3vw);">Public Profile</h1>

                        <form action="/owner/admin/<%= user._id %>" method="post" enctype="multipart/form-data">

                            <div class="col-12 mb-3">
                              <div class="row align-items-end">
    
                                <div class="col-12 col-md-5 col-lg-4">
                                  <label for="fileInput" class="profile-container">
                                    <i class="fas fa-user text-body-tertiary default-icon" style="font-size: calc(1rem + 0.8vw);"></i>
                                    <img id="profileImage" src="" alt="User Image">
                                  </label>
                                  <input type="file" id="fileInput" class="file-input" name="userPicture" accept="image/*">
                                  <p class="text-body-secondary mt-2">Click to upload image</p>
                                </div>
      
                                <div class="col-md-7 col-lg-6 mb-md-3">
                                  <label for="UserLanguage" class="form-label text-dark-emphasis">Select Language</label>
                                  <select id="UserLanguage" class="form-select text-dark-emphasis py-3" name="language">
                                    <option value="English" <%= user.language === 'English' ? 'selected' : '' %>>English</option>
                                    <option value="Urdu" <%= user.language === 'Urdu' ? 'selected' : '' %>>Urdu</option>
                                    <option value="Hindi" <%= user.language === 'Hindi' ? 'selected' : '' %>>Hindi</option>
                                  </select>
                                </div>
    
                              </div>
                            </div>
    
                            <div class="col-12">
                              <label for="bioInput" class="form-label text-dark-emphasis">Enter Bio</label>
                                <input type="text" id="bioInput" class="form-control py-3" placeholder="Describe yourself..." maxlength="80" name="userBio" value="<%= user.userBio  %>" required>
                                <div id="charCounter" class="char-counter">0 / 80</div>
                            </div>
    
                            <div class="col-12">
                              <label for="bioTextarea" class="form-label text-dark-emphasis">About me</label>
                              <textarea id="bioTextarea" class="form-control" placeholder="About yourself..." maxlength="350" style="height: 120px;" name="aboutUser" required><%= user.aboutUser %></textarea>
                                <div id="aboutCharCounter" class="char-counter">0 / 350</div>
                            </div>
    
                            <div class="col-12">
                              <button type="submit" class="btn btn-primary" style="padding-block: 10px;">Save Changes</button>
                            </div>
  
                        </form>
                    </div>

                    <div class="tab-pane fade" id="pills-skill" role="tabpanel" aria-labelledby="pills-my-skill" tabindex="0" data-user-id="<%= user._id %>">
                        <h1 class="mb-3 text-dark" style="font-size: calc(1.2rem + 0.3vw);">My Skills</h1>

                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <p class="mb-0">Each course is mapped to relevant skills, allowing learners to track progress, earn badges, and receive AI-driven recommendations for continuous growth.</p>
                        </div>

                        <div class="col-12">
                            <div class="text-body-secondary">
                                
                                <!-- Skill Selection Dropdown -->
                                <div class="mb-3">
                                    <label for="skillSelect" class="form-label">Select a Skill</label>
                                    <select id="skillSelect" class="form-select text-body-secondary py-3" name="skills">
                                        <option value="" selected>Choose...</option>
                                    
                                        <!-- Development -->
                                        <option value="Web Development">Web Development</option>
                                        <option value="Front-End Development">Front-End Development</option>
                                        <option value="Back-End Development">Back-End Development</option>
                                        <option value="Full-Stack Development">Full-Stack Development</option>
                                        <option value="HTML">HTML</option>
                                        <option value="CSS">CSS</option>
                                        <option value="JavaScript">JavaScript</option>
                                        <option value="React">React</option>
                                        <option value="Node.js">Node.js</option>
                                        <option value="Python">Python</option>
                                        <option value="Java">Java</option>
                                        <option value="Flutter">Flutter</option>
                                        <option value="Mobile Development">Mobile Development</option>
                                    
                                        <!-- Data & AI -->
                                        <option value="Data Science">Data Science</option>
                                        <option value="Machine Learning">Machine Learning</option>
                                        <option value="AI & Deep Learning">AI & Deep Learning</option>
                                        <option value="SQL">SQL</option>
                                        <option value="MongoDB">MongoDB</option>
                                    
                                        <!-- IT & Cloud -->
                                        <option value="Cyber Security">Cyber Security</option>
                                        <option value="Network Security">Network Security</option>
                                        <option value="Cloud Computing">Cloud Computing</option>
                                        <option value="AWS">AWS</option>
                                        <option value="DevOps">DevOps</option>
                                        <option value="CCNA, CCNP">CCNA, CCNP</option>
                                        <option value="Finance & Accounting">Finance & Accounting</option>
                                    
                                        <!-- Design & Marketing -->
                                        <option value="Graphic Design">Graphic Design</option>
                                        <option value="UI/UX Design">UI/UX Design</option>
                                        <option value="Figma">Figma</option>
                                        <option value="SEO">SEO</option>
                                        <option value="Digital Marketing">Digital Marketing</option>
                                    
                                        <!-- Business & Productivity -->
                                        <option value="Project Management">Project Management</option>
                                        <option value="Finance & Investing">Finance & Investing</option>
                                        <option value="Entrepreneurship">Entrepreneurship</option>
                                        <option value="Facebook Ads">Facebook Ads</option>
                                        <option value="Content Marketing">Content Marketing</option>
                                        <option value="Affiliate Marketing">Affiliate Marketing</option>
                                    </select>                                    
                                </div>
                
                                <hr>
                
                                 <!-- Skill Counter -->
                                <p class="mb-2">Selected Skills: <span id="skillCounter"><%= user.skills.length %></span>/8</p>

                                <!-- Selected Skills (Preloaded from MongoDB) -->
                                <div class="col-12 ps-2">
                                    <div class="row" id="selectedSkillsList">
                                    <% if (user.skills != "") { %>
                                        <% user.skills.forEach(skill => { %>
                                            <div class="selected-skill d-flex align-items-center border rounded-5 mb-2 me-2" style="width: fit-content; padding: 4px 15px;">
                                                <p class="mb-0 me-2"><%= skill %></p>
                                                <button class="border-0 bg-transparent remove-skill" data-skill="<%= skill %>">
                                                    <i class="bi bi-x fs-5 text-body-secondary"></i>
                                                </button>
                                            </div>
                                        <% }) %>
                                    <% } %>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="modal-footer d-flex justify-content-start">
                                <button type="button" class="btn btn-primary" id="saveSkills" style="padding-block: 10px;">Save Changes</button>
                            </div>
                        </div>

                    </div>

                    <div class="tab-pane fade" id="pills-course" role="tabpanel" aria-labelledby="pills-my-course" tabindex="0">
                        <h1 class="mb-2 text-dark" style="font-size: calc(1.2rem + 0.3vw);">My Courses</h1>

                        <div class="col-12 d-flex align-items-center justify-content-between mb-2">
                            <h1 class="mb-0 fw-normal text-body-secondary" style="font-size: calc(0.9rem + 0.2vw);">Total Course
                                <span id="card-counter" style="font-size: calc(0.7rem + 0.1vw);">( 0 / 7 )</span></h1>
                            <a href="/owner/admin/new-course" id="add-course-btn">
                              <button type="button" class="btn btn-primary" style="font-size: calc(0.8rem + 0.2vw);">
                              Add Course</button>
                            </a>
                        </div>

                        <div class="col-12 cards">
                            <div class="row g-3">

                            <% if (courses.length > 0) { %>
                             <% courses.forEach(course => { %>
                                
                                <div class="col-12 col-md-6 col-xl-4 position-relative" id="course-cards" style="cursor: pointer;">
                                    <a href="/courses/single-course/<%= course._id %>">
                                        <div class="card border p-2 rounded-3" style="background-color: #E3E3E3;">
                                            <div class="card-img rounded-3 overflow-hidden mb-2 position-relative" style="height: 25vh;">
                                                <img class="w-100 h-100 object-fit-cover" src="/images/uploads/<%= course.image %>">
                                            </div>
                                            <div class="card-body p-0">
                                                <h5 class="card-title mb-1" style="font-size: calc(17px);"><%= course.title %></h5>
                                                <p class="card-text text-body-secondary mb-1" style="font-size: calc(0.8rem + 0.07vw);"><%= course.paragraph %></p>
                                                <p class="mb-1" style="font-size: 14px;"><span class="text-body-secondary">By <%= course.ownerName %></p>
                                                <div class="d-flex align-items-center mb-1">
                                                    <img class="me-2" style="width: 14px;" src="/icons/progress-level.svg">
                                                    <p class="mb-0" style="font-size: 14px;"><span class="text-body-secondary">Level : <%= course.level %></p>
                                                </div>
                                                <div class="d-flex align-items-center mb-1">
                                                    <p class="mb-0 me-2">$<%= course.price.toFixed(2) %></p>
                                                    <p class="mb-0" style="color: rgb(2, 206, 2);"><s>$<%= course.discount.toFixed(2) %></s></p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>

                                    <a href="/owner/admin/course/delete/<%= course._id %>" id="delete-course" data-id="<%= course._id %>">
                                        <div class="position-absolute top-0 end-0" style="margin: 15px 22px;">
                                            <button type="button" class="btn bg-body-secondary rounded-circle d-flex align-items-center justify-content-center p-2" style="width: 25px; height: 25px;">
                                                <span class="fw-normal text-dark" style="font-size: 1.3rem;">&times;</span>
                                            </button>
                                        </div>

                                    </a>
            
                                </div>

                             <% }) %>
                            <% } else { %>
                              <div class="col-12">
                                <p class="mb-0 fs-5 text-dark-emphasis">No Courses are avaliable.</p>
                              </div>
                            <% } %>

                            </div>
                        </div>

                    </div>

                    <div class="tab-pane fade" id="pills-notification" role="tabpanel" aria-labelledby="pills-notification-tab" tabindex="0">
                        <h1 class="mb-3 text-dark" style="font-size: calc(1.2rem + 0.3vw);">Notification</h1>

                        <div class="col-12 bg-secondary bg-opacity-25 rounded-3 p-3 mb-3">
                            <div class="d-flex flex-wrap align-items-center">
                                <div class="col-12 col-lg-9 col-xl-10">
                                    <h1 class="mb-2 text-dark" style="font-size: calc(1rem + 0.3vw);">Note</h1>
                                    <p class="mb-0 text-body-secondary">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui optio, amet, sequi nesciunt voluptatibus molestiae minima animi rem nisi voluptates odit earum eveniet perspiciatis reiciendis?</p>
                                </div>
                                <div class="col-12 col-lg-3 col-xl-2 d-flex justify-content-center justify-content-lg-end">
                                    <div style="width: 100px;">
                                        <img class="w-100 h-100 object-fit-cover" src="/images/note-image.svg">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 d-flex a;ign-items-center justify-content-between">
                            <h1 class="text-dark" style="font-size: calc(1rem + 0.2vw);">Updates</h1>
                            <a href="" class="fw-medium text-danger" style="font-size: calc(1rem + 0.2vw);text-decoration: none;">Clear All</a>
                        </div>

                    </div>

                    <div class="tab-pane fade" id="pills-close" role="tabpanel" aria-labelledby="pills-close-account" tabindex="0">
                        <h1 class="mb-3 text-dark" style="font-size: calc(1.2rem + 0.3vw);">Close Account</h1>

                        <div class="alert alert-danger" role="alert">
                            <p class="alert-link fs-5 fw-medium mb-0">Warning</p> If you close your account, you will be unsubscribed from all 0 of your courses and will lose access to your account and data associated with your account forever, even if you choose to create a new account using the same email address in the future.
                        </div>

                        <p class="text-body-secondary"><span class="text-dark">Caution:</span> Closing your account will permanently remove access to all your courses (0 total) and erase all associated data. Even if you register again with the same email, your previous data cannot be recovered.</p>

                        <div class="modal-footer d-flex justify-content-start">
                            <a href="/owner/admin/delete/<%= user._id %>" id="account-deleted" data-id="<%= user._id %>">
                                <button type="button" class="btn btn-danger" style="padding-block: 10px;">Close Account</button>
                            </a>
                        </div>
                        

                    </div>
            
                </div>

            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function() {
        $("#fileInput").on("change", function(event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    $("#profileImage").attr("src", e.target.result).show();
                    $(".default-icon").hide();
                };
                reader.readAsDataURL(file);
            }
        });
    });
</script>

<%- include('./partials/footer.ejs')  %>